---
layout: default
title: get extra warranty
page-title: Get Extra 6 Month Warranty
home-title: 
description: Know How to Get it and Our Return Rule.
---



<main>
    {% include title.html %}
    <ul class="post-list">
        <li class="fadeInUp animated">
            <div class="markdown-body" style="margin-top: 0px; margin-bottom: 0px">
                <h3>Return Policy:</h3>
                <p>We provide one-year quality warranty for all our products. If you find any quality problems, please feel free to contact us. We will refund you or send you a new replacement.</p>
                <p>
                    <span>1.Contact us through order page, tell us what the problem is and we will respond in 24 hours.</span><br>
                    <span>2.Or directly contact us through email at Jeff-Service@hotmail.com and tell us your order ID and problem. We will respond in 8 hours.</span>
                </p>
            </div>
        </li>
        <li class="fadeInUp animated" id="get-warranty">
            <div class="markdown-body" style="margin: 0 auto">
                <h3>Get it Now</h3>
                <p>In Case you can't see the slide in box, here is the step how to get it</p>
                <p>
                    <span>1. </span><a href="https://www.facebook.com/Python-Life-112562350114141">Click here to go to our facebook page</a><br>
                    <span>2. Click the button "Send Message" and you will know how to get it.</span>
                </p>
            </div>
      </li>
    </ul>
</main>
{% include footer.html %}
